.home {
  position: relative;
}

/* HERO */

.hero {
  position: relative;
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(to bottom, #ffffff 40%, #fdf3e7 100%);
  overflow: hidden;
}

/* LOGO FILIGRANE */

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url("/logo.png") center no-repeat;
  background-size: 450px;

  opacity: 0.04;   /* Plus visible */
  pointer-events: none;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 2.6rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.hero-btn {
  background: #ff7a00;
  padding: 12px 22px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* TITRE SECTION */

.section-title {
  text-align: center;
  margin-top: 60px;
  font-size: 1.8rem;
}
