.home {
  position: relative;
}

/* HERO */

.hero {
  position: relative;
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(to bottom, white 50%, #fdf3e7 100%);
  overflow: hidden;
}

/* FILIGRANE LOGO */
.hero::before {
  content: "";
  position: absolute;
  background: url("/logo.png") no-repeat center;
  background-size: 350px;
  opacity: 0.06;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.hero-btn {
  background: #ff7a00;
  padding: 12px 20px;
  font-size: 16px;
}

/* SECTION TITLE */

.section-title {
  text-align: center;
  margin-top: 50px;
  font-size: 1.8rem;
}
