.footer {
  background: #222;
  color: white;
  padding: 2rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.contacts a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}