.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 900px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 25px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 40px;

  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 25px;
  transition: 0.3s ease;
}

.navbar a:hover {
  background: rgba(255,255,255,0.4);
}
