body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Accueil */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.home-logo {
  width: 200px;
  margin: 2rem 0;
}

.continue-btn {
  padding: 1rem 2rem;
  background: #f4a261;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 8px;
}